html 
body
    a(href='/customer') |--Return to Starch--|
    a(href='/basket') |--Basket--|
    a(href='/') |--Log Out--|
    a(href='/previousOrder') |--Previous Order--|
    a(href='/searchOrder') |--Search Order By Order ID--|
    br
    h3=`Hello ${user}`
    script(src="functions.js")
    lable Looking for book by: 
    select#type
        option(value='author_name') Author
        option(value='title') Title 
        option(value='isbn') ISBN
        option(value='genre') Genre
        option(value='price') Price
        option(value='num_page') Number of Pages
        option(value='publisher_name') Publisher
    input#value(type="text")
    button(onclick="CsearchBook()") Search
    br
    br
    h3 Book List:
    ul 
        each book in data
            li(id=book.book_id)=`ISBN: ${book.book_id}---Author: ${book.author_name}---Genre: ${book.genre}---Title: ${book.title}---Price: ${book.price}---Number of Pages:_${book.num_page}---Publisher: ${book.publisher_name}---Remain: ${book.num_remain}` 
            button(onclick=`addToBasket(${book.book_id})`) Add to Basket